<div class="flex items-center">
  <input
    type="file"
    #fileInput
    (change)="onFileSelected($event)"
    accept=".xlsx, .xls, .csv"
    class="hidden"
  />

  <app-primary-button
    type="button"
    (click)="fileInput.click()"
    [icon]="'file_upload'"
    [disabled]="loading()"
  >
    <div
      class="absolute inset-0 -translate-x-full bg-linear-to-r from-transparent via-white/10 to-transparent transition-transform duration-500 group-hover:translate-x-full"
    ></div>

    <i class="fa-solid fa-file-excel text-lg transition-transform group-hover:scale-110"></i>
    <span>{{ loading() ? 'Cargando...' : text }}</span>
  </app-primary-button>
</div>
