<div class="flex items-center justify-between py-4 px-8 sticky top-0 z-50 
            bg-slate-950/80 backdrop-blur-md border-b border-white/10 shadow-xl">
    
    <button (click)="redirectToHomePage()" class="cursor-pointer group">
        <div class="flex items-center gap-3">
            <img [src]="'icons/angular.svg'" alt="Logo" class="w-10 h-10 group-hover:rotate-12 transition-transform" />
            <span class="text-white font-bold tracking-tight text-lg uppercase">{{ title() }}</span>
        </div>
    </button>

    <app-primary-button
        [label]="cartService.cart().length"
        [iconUrl]="'icons/shopping-cart.svg'"
        (btnClicked)="redirectToCart()"
        class="hover:scale-105 transition-transform"
    ></app-primary-button>
</div>