<div
  class="flex items-center justify-between py-4 px-8 sticky top-0 z-50 bg-slate-950/80 backdrop-blur-md border-b border-white/10 shadow-xl"
>
  <button (click)="redirectToHomePage()" class="cursor-pointer group">
    <div class="flex items-center gap-3">
      <img
        [src]="'./icons/angular.svg'"
        alt="Logo"
        class="w-10 h-10 group-hover:rotate-12 transition-transform"
      />
      <span class="text-white font-bold tracking-tight text-lg uppercase">{{ title() }}</span>
    </div>
  </button>

  <div class="actions-container flex items-center gap-2">
    <button
      (click)="openAIAssistant()"
      class="group flex items-center gap-2 px-3 py-1.5 cursor-pointer text-slate-300 hover:text-blue-400 hover:bg-blue-500/10 rounded-lg transition-all duration-300"
    >
      <span class="text-sm font-medium tracking-wide">Asistente IA</span>
      <span class="material-icons text-xl group-hover:animate-bounce-slow">smart_toy</span>
    </button>

    <app-primary-button
      [label]="cartService.cart().length"
      [iconUrl]="'./icons/shopping-cart.svg'"
      (btnClicked)="redirectToCart()"
      class="hover:scale-105 transition-transform inline-block"
    ></app-primary-button>
  </div>
</div>
