@reference "tailwindcss";

button.primary-button {
  @apply h-12 w-full rounded-xl font-bold tracking-wide transition-all duration-200;

  &.mat-mdc-button-disabled,
  &.mat-mdc-button-disabled:disabled,
  &[disabled] {
    background-color: #e2e8f0 !important;
    color: #94a3b8 !important;
    cursor: not-allowed !important;
    pointer-events: none !important;
  }

  &.primary {
    color: white;
    //background: linear-gradient(to right, #8b5cf6, #6366f1) !important; // violet-500 → indigo-500
    background-image:
      repeating-radial-gradient(circle at 0 0, rgba(255, 255, 255, 0.1), transparent 50px),
      linear-gradient(to right, #2563eb, #06b6d4);
    background-size:
      100px 100px,
      auto;
    // hover
    &:hover:not(:disabled):not(.mat-mdc-button-disabled) {
      background-color: #4338ca !important; // hover más oscuro
    }
    // disabled
    &:disabled,
    &.mat-mdc-button-disabled {
      background: linear-gradient(to right, #8b5cf6, #6366f1) !important;
      opacity: 0.4;
      cursor: not-allowed;
    }
  }

  &.secondary {
    color: #3b82f6 !important;
    background-color: #ffffff !important;
    border: 1.5px solid #e2e8f0 !important;
    &:hover:not(:disabled):not(.mat-mdc-button-disabled) {
      background-color: #f8fafc !important;
    }
  }
}
