<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <!-- Indica que las peticiones de Node.js deben ser manejadas por iisnode -->
    <handlers>
      <add name="iisnode" path="server.mjs" verb="*" modules="iisnode" />
    </handlers>

    <!-- Configura la regla de reescritura para enviar todo el tráfico al servidor de Node -->
    <rewrite>
      <rules>
        <rule name="NodeInspector" stopProcessing="true">
          <match url="^server\.mjs\/debug[\/]?" />
        </rule>

        <rule name="DynamicContent">
          <conditions>
            <!-- Si el archivo físico existe (como imágenes, css, js estáticos), sírvelo directamente -->
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
          </conditions>
          <action type="Rewrite" url="server.mjs" />
        </rule>
      </rules>
    </rewrite>

    <!-- Opcional: seguridad y configuraciones de iisnode -->
    <iisnode watchedFiles="web.config;server.mjs" />
  </system.webServer>
</configuration>